@font-face {
  font-family: "disney-font-bold";
  src: url("../fonts/disney-font-bold.woff2");
}
.content-container {
  background-color: rgb(26, 29, 41);
  margin-top: -70px;
}
.content-container .backdrop-container {
  background-size: cover;
  position: sticky;
  top: 0;
  width: 100%;
}
.content-container .backdrop-container .backdrop {
  width: 100%;
}
.content-container .backdrop-container .fade-effect {
  position: absolute;
  inset: 0px;
  background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(26, 29, 41));
}
.content-container .content-wrapper {
  position: absolute;
  top: 56px;
}
.content-container .content-wrapper .logo-and-description-container {
  padding: 76px;
  font-size: 20px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 874px;
}
.content-container .content-wrapper .logo-and-description-container .description {
  margin: 0;
  letter-spacing: -0.1px;
}
.content-container .content-wrapper .logo-and-description-container .logo {
  max-width: 341px;
  min-width: 100px;
  width: 35vw;
}
.content-container .content-wrapper .logo-and-description-container .genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.content-container .content-wrapper .logo-and-description-container .genre-container p {
  margin: 0;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .play-button {
  color: rgb(26, 29, 41);
  border-radius: 4px;
  background: white;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  transition: 0.25s ease-out;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .play-button .play-icon {
  height: 32px;
  width: 32px;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .play-button p {
  font-family: "disney-font-bold";
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .play-button:hover {
  background: rgba(249, 249, 249, 0.6);
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .watchlist-button {
  color: rgb(26, 29, 41);
  height: 25px;
  width: 25px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  background: black;
  transition: 0.25s ease-out;
  cursor: pointer;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .watchlist-button .button-icon {
  height: auto;
  width: 72%;
  fill: white;
  transform: translate(18%, 10%);
  transition: 0.25s ease-out;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .watchlist-button:hover {
  background: white;
}
.content-container .content-wrapper .logo-and-description-container .buttons-container .watchlist-button:hover .button-icon {
  fill: black;
}
.content-container .content-wrapper .suggested-container {
  width: 90vw;
}
.content-container .content-wrapper .suggested-container p {
  margin: 0;
  padding: 0 76px;
  color: #f9f9f9;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content-container .content-wrapper .suggested-container .line-break {
  height: 2px;
  background: grey;
  margin: 20px 76px;
  margin-right: 0px;
}

html,
body {
  background: rgb(26, 29, 41);
}

/*# sourceMappingURL=content.css.map */
