@import "./globals.scss";

html,
body {
  background: rgb(26, 29, 41);
}

.content-container {
  margin-top: -$navbar-height;
  .backdrop-container {
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    .backdrop {
      width: 100%;
    }
    .fade-effect {
      position: absolute;
      inset: 0px;
      background-image: radial-gradient(
        farthest-side at 73% 21%,
        transparent,
        rgb(26, 29, 41)
      );
    }
  }
  .content-wrapper {
    position: absolute;
    top: 56px;

    .logo-and-description-container {
      padding: var(--edge-padding);

      font-size: 20px;
      color: #f9f9f9;
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 874px;
      .description {
        margin: 0;
        letter-spacing: -0.1px;
      }
      .logo {
        // margin-top: 56px;
        max-width: 341px;
        min-width: 100px;
        width: 35vw;
      }
      .genre-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;
        p {
          margin: 0;
        }
      }
      .buttons-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .play-button {
          color: rgb(26, 29, 41);
          border-radius: 4px;
          background: white;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 10px 20px;
          transition: 0.25s ease-out;
          .play-icon {
            height: 32px;
            width: 32px;
          }
          p {
            font-family: "disney-font-bold";
            font-size: 15px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin: 0;
          }
        }
        .play-button:hover {
          background: #f9f9f999;
        }
        .watchlist-button {
          color: rgb(26, 29, 41);
          height: 25px;
          width: 25px;
          padding: 10.5px;
          border-radius: 50%;
          border: 2px solid #f9f9f9;
          background: black;
          transition: 0.25s ease-out;
          cursor: pointer;
          .button-icon {
            height: auto;
            width: 72%;
            fill: white;
            transform: translate(18%, 10%);
            transition: 0.25s ease-out;
          }
        }
        .check-button {
          height: 30px;
          width: 30px;
          padding: 8px;
        }
        .watchlist-button:hover {
          background: white;
        }
        .watchlist-button:hover .button-icon {
          fill: black;
        }
      }
    }
    .suggested-container {
      width: 95vw;
      p {
        margin: 0;
        padding: 0 var(--edge-padding);
        color: #f9f9f9;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .line-break {
        height: 2px;
        background: grey;
        margin: 20px var(--edge-padding);
        margin-right: 0px;
      }
    }
  }
}
