@import "./globals.scss";
.home-container {
  .row-container {
    .section-title {
      font-size: 20px;
      user-select: none;
      padding-left: $edge-padding;
      margin-bottom: 0;
    }
    .content-container {
      overflow: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      .content-img {
        width: 40%;
        padding: 5%;
      }
    }
    .content-container::-webkit-scrollbar {
      display: none;
    }
  }
}
