@import "./globals.scss";
.home-container {
  .row-container {
    .section-title {
      font-size: 20px;
      user-select: none;
      padding-left: $arrow-dimensions + $swiper-padding + (2 * $arrow-padding);
    }
    .content-container {
      overflow: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      .content-img {
        width: 40%;
        padding: 5%;
      }
    }
    .content-container::-webkit-scrollbar {
      display: none;
    }
  }
}
