.home-container {
  .row-container {
    .section-title {
    }
    .content-container {
      overflow: auto;
      white-space: nowrap;
      .content-img {
        width: 40%;
        padding: 5%;
      }
    }
  }
}
