@import "./globals.scss";

.total-container {
  display: flex;
  align-items: stretch;
  .swiper-container {
    padding: $swiper-padding;
  }
  .nav-button {
    display: flex;
    align-items: center;
    padding-left: $arrow-padding;
    padding-right: $arrow-padding;
    cursor: pointer;
    .arrow-icon {
      height: $arrow-dimensions;
      width: $arrow-dimensions;
      fill: white;
    }
  }
  .hide {
    opacity: 0;
    pointer-events: none;
  }
}
.content-img {
  width: 100%;
  height: auto;
  background: brown;
  border-radius: 8px;
}
.content-img:hover {
  transition: 0.1s ease-in;
  transform: scale(1.05);
  outline: 2px solid white;
}
