@import "./globals.scss";

.image-slider-container {
  display: flex;
  align-items: stretch;
  .swiper-container {
    padding: $swiper-padding;
  }
  .nav-button {
    display: flex;
    align-items: center;
    padding-left: $arrow-padding;
    padding-right: $arrow-padding;
    cursor: pointer;
    .arrow-icon {
      height: var(--arrow-dimensions);
      width: var(--arrow-dimensions);
      fill: white;
    }
  }
  .hide {
    opacity: 0;
    pointer-events: none;
  }
}
.content-img {
  box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.5),
    0px 16px 10px -10px rgba(0, 0, 0, 0.5),
    0px 25px 14px -14px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  // aspect-ratio: 400 / 225;
  aspect-ratio: $image-aspect-ratio;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
}
.content-img:hover {
  transition: 0.15s ease-in;
  transform: scale(1.05);
  outline: 3px solid white;
  outline-offset: 3px;
}
