@font-face {
  font-family: "disney-font";
  src: url("../fonts/disney-font.woff2");
}

html,
body {
  background: rgb(26, 29, 41);
  background-image: url("../images/background.png");
  margin: 0;
  font-family: disney-font;
  color: white;
  overflow-x: hidden;
}

.main-container {
}
