@font-face {
  font-family: "disney-font";
  src: url("../fonts/disney-font.woff2");
}
@font-face {
  font-family: "disney-font-bold";
  src: url("../fonts/disney-font-bold.woff2");
}

html,
body {
  background: url("../images/background.png") 50% / cover no-repeat fixed;

  margin: 0;
  font-family: disney-font;
  color: white;
}

.main-container {
}
