p {
  color: white;
}

.main-container {
  background: #0e0b14;
  display: flex;
  gap: 40px;
  .logo {
    height: 50px;
    padding: 10px;
  }
  .section-container {
    display: flex;
    align-items: center;
    gap: 4px;
    .section-icon {
      height: 24px;
      width: 24px;
      fill: white;
    }
    .plus-icon {
      height: 14px;
      width: 14px;
      padding-left: 4px;
      padding-right: 4px;
    }
    .section-title {
    }
  }
}
