.originals-container {
  .img-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    .title-img {
      height: 189px;
      transition: height 250ms ease-in-out 0s, margin-top 350ms ease-in-out 0s;
    }
    .scrolled-img {
      height: 123px;
    }
  }
}
